{
  "extends": "google",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "plugins": [
    "chai-expect"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["src", "node_modules", "lib/screeps", "lib/screeps/Structures", "lib/screeps/Global" ]
      }
    }
  },
  "rules": {
    "no-console": "off",
    "no-multiple-empty-lines": "off",
    "linebreak-style": "off",
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", 88, { "ignorePattern": "^\\s*console.log|^\\s*`.*`\\s*|^\\s*throw new" }],
  },
  "globals": {
    "chai": true,
    "_": false,
    "CONTROLLER_DOWNGRADE": false,
    "COLOR_RED": false,
    "COLOR_BLUE": false,
    "FIND_MY_CONSTRUCTION_SITES": false,
    "OK": false,
    "ERR_NOT_IN_RANGE": false,
    "ERR_NO_PATH": false,
    "ERR_NOT_OWNER": false,
    "ERR_INVALID_ARGS": false,
    "ERR_FULL": false,
    "ERR_INVALID_TARGET": false,
    "ERR_NO_BODY_PART": false,
    "ERR_BUSY": false,
    "ERR_TIRED": false,
    "ERR_NOT_ENOUGH_RESOURCES": false,
    "ERR_NO_BODYPART": false,
    "LOOK_CONSTRUCTION_SITES": false,
    "LOOK_STRUCTURES": false,
    "LOOK_FLAGS": false,
    "LOOK_TERRAIN": false,
    "BODYPART_COST": false,
    "CREEP_LIFE_TIME": false,
    "LOOK_CREEPS": false,
    "Creep": false,
    "Flag": false,
    "Game": false,
    "Mineral": false,
    "OwnedStructure": false,
    "Resource": false,
    "Room": false,
    "RoomObject": false,
    "RoomPosition": false,
    "Source": false,
    "Spawn": false,
    "Structure": false,
    "StructureController": false,
    "StructureStorage": false,
    "StructureContainer": false,
    "StructureExtension": false,
    "StructureLink": false,
    "StructureRampart": false,
    "StructureSpawn": false,
    "StructureTower": false,
    "StructureWall": false,
    "StructureTerminal": false,
    "MOVE": false,
    "WORK": false,
    "CARRY": false,
    "CLAIM": false,
    "ATTACK": false,
    "RANGED_ATTACK": false,
    "HEAL": false,
    "TOUGH": false,
    "Energy": false,
    "COLOR_YELLOW": false,
    "CONTROLLER_STRUCTURES": false,
    "FIND_CONSTRUCTION_SITES": false,
    "FIND_DROPPED_ENERGY": false,
    "FIND_DROPPED_RESOURCES": false,
    "FIND_EXIT": false,
    "FIND_FLAGS": false,
    "FIND_HOSTILE_CREEPS": false,
    "FIND_MINERALS": false,
    "FIND_MY_CREEPS": false,
    "FIND_MY_SPAWNS": false,
    "FIND_MY_STRUCTURES": false,
    "FIND_SOURCES": false,
    "FIND_STRUCTURES": false,
    "RESOURCE_ANY": false,
    "RESOURCE_NONE": false,
    "RESOURCE_ENERGY": false,
    "RESOURCE_OXYGEN": false,
    "REPAIR_POWER": false,
    "STRUCTURE_CONTAINER": false,
    "STRUCTURE_CONTROLLER": false,
    "STRUCTURE_EXTENSION": false,
    "STRUCTURE_EXTRACTOR": false,
    "STRUCTURE_LINK": false,
    "STRUCTURE_OBSERVER": false,
    "STRUCTURE_RAMPART": false,
    "STRUCTURE_ROAD": false,
    "STRUCTURE_SPAWN": false,
    "STRUCTURE_STORAGE": false,
    "STRUCTURE_TERMINAL": false,
    "STRUCTURE_TOWER": false,
    "STRUCTURE_WALL": false,
    "STRUCTURE_LAB": false,
    "Memory": false,
    "TOP": false,
    "TOP_RIGHT": false,
    "RIGHT": false,
    "BOTTOM_RIGHT": false,
    "BOTTOM": false,
    "BOTTOM_LEFT": false,
    "LEFT": false,
    "TOP_LEFT": false
  }
}
