{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "plugins": [
    "chai-expect"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["src", "node_modules", "screeps" ]
      }
    }
  },
  "rules": {
    "no-console": "off",
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", 88, { "ignorePattern": "^\\s*console.log" }]
  },
  "globals": {
    "chai": true,
    "_": false,
    CONTROLLER_DOWNGRADE: false,
    COLOR_BLUE: false,
    "FIND_MY_CONSTRUCTION_SITES": false,
    "ERR_NOT_IN_RANGE": false,
    ERR_NO_PATH: false,
    "LOOK_CONSTRUCTION_SITES": false,
    "LOOK_STRUCTURES": false,
    LOOK_FLAGS: false,
    "BODYPART_COST": false,
    "CREEP_LIFE_TIME": false,
    "Game": false,
    "Creep": false,
    "LOOK_CREEPS": false,
    "StructureController": false,
    "StructureExtension": false,
    "StructureLink": false,
    "StructureRampart": false,
    "StructureSpawn": false,
    "StructureTower": false,
    "StructureWall": false,
    "Room": false,
    "RoomPosition": false,
    "Mineral": false,
    "Source": false,
    "Spawn": false,
    "Structure": false,
    "Flag": false,
    "MOVE": false,
    "WORK": false,
    "CARRY": false,
    "CLAIM": false,
    "ATTACK": false,
    "RANGED_ATTACK": false,
    "HEAL": false,
    "TOUGH": false,
    "Energy": false,
    "COLOR_YELLOW": false,
    "CONTROLLER_STRUCTURES": false,
    "FIND_CONSTRUCTION_SITES": false,
    "FIND_DROPPED_ENERGY": false,
    "FIND_EXIT": false,
    "FIND_FLAGS": false,
    "FIND_HOSTILE_CREEPS": false,
    "FIND_MINERALS": false,
    "FIND_MY_CREEPS": false,
    "FIND_MY_SPAWNS": false,
    "FIND_MY_STRUCTURES": false,
    "FIND_SOURCES": false,
    "FIND_STRUCTURES": false,
    "RESOURCE_ENERGY": false,
    "STRUCTURE_CONTAINER": false,
    "STRUCTURE_EXTENSION": false,
    "STRUCTURE_EXTRACTOR": false,
    "STRUCTURE_LINK": false,
    "STRUCTURE_OBSERVER": false,
    "STRUCTURE_RAMPART": false,
    "STRUCTURE_ROAD": false,
    "STRUCTURE_SPAWN": false,
    "STRUCTURE_STORAGE": false,
    "STRUCTURE_TERMINAL": false,
    "STRUCTURE_TOWER": false,
    "STRUCTURE_WALL": false,
    "Memory": false,
    "TOP": false,
    "TOP_RIGHT": false,
    "RIGHT": false,
    "BOTTOM_RIGHT": false,
    "BOTTOM": false,
    "BOTTOM_LEFT": false,
    "LEFT": false,
    "TOP_LEFT": false
  }
}
